/*
  mySpaceBase version: 1.0.1
  https://bitbucket.org/dsgfed/myspacebase
*/
.animationFadeInModule .gw,
.animationFadeInModule .grid-wrapper {
  list-style: none;
  margin-bottom: 0;
  margin-left: -2.8rem; }
  .animationFadeInModule .gw:after,
  .animationFadeInModule .grid-wrapper:after {
    display: table;
    content: "";
    clear: both; }

.animationFadeInModule .gw--rev > .g,
.animationFadeInModule .grid-wrapper--rev > .grid {
  float: right; }

.animationFadeInModule .gw--full,
.animationFadeInModule .grid-wrapper--full {
  margin-left: 0; }
  .animationFadeInModule .gw--full > .g,
  .animationFadeInModule .gw--full > .grid,
  .animationFadeInModule .grid-wrapper--full > .g,
  .animationFadeInModule .grid-wrapper--full > .grid {
    padding-left: 0; }

.animationFadeInModule .gw > .gw,
.animationFadeInModule .grid-wrapper > .grid-wrapper {
  margin-left: 0; }

.animationFadeInModule .g,
.animationFadeInModule .grid {
  float: left;
  width: 100%;
  padding-left: 2.8rem;
  transition: width .15s ease; }

.animationFadeInModule .one-whole {
  width: 100%; }

.animationFadeInModule .one-half, .animationFadeInModule .two-quarters, .animationFadeInModule .three-sixths, .animationFadeInModule .four-eighths, .animationFadeInModule .five-tenths, .animationFadeInModule .six-twelfths {
  width: 50%; }

.animationFadeInModule .one-third, .animationFadeInModule .two-sixths, .animationFadeInModule .four-twelfths {
  width: 33.33333%; }

.animationFadeInModule .two-thirds, .animationFadeInModule .four-sixths, .animationFadeInModule .eight-twelfths {
  width: 66.66667%; }

.animationFadeInModule .one-quarter, .animationFadeInModule .two-eighths, .animationFadeInModule .three-twelfths {
  width: 25%; }

.animationFadeInModule .three-quarters, .animationFadeInModule .six-eighths, .animationFadeInModule .nine-twelfths {
  width: 75%; }

.animationFadeInModule .one-fifth, .animationFadeInModule .two-tenths {
  width: 20%; }

.animationFadeInModule .two-fifths, .animationFadeInModule .four-tenths {
  width: 40%; }

.animationFadeInModule .three-fifths, .animationFadeInModule .six-tenths {
  width: 60%; }

.animationFadeInModule .four-fifths, .animationFadeInModule .eight-tenths {
  width: 80%; }

.animationFadeInModule .one-sixth, .animationFadeInModule .two-twelfths {
  width: 16.66667%; }

.animationFadeInModule .five-sixths, .animationFadeInModule .ten-twelfths {
  width: 83.33333%; }

.animationFadeInModule .one-eighth {
  width: 12.5%; }

.animationFadeInModule .three-eighths {
  width: 37.5%; }

.animationFadeInModule .five-eighths {
  width: 62.5%; }

.animationFadeInModule .seven-eighths {
  width: 87.5%; }

.animationFadeInModule .one-tenth {
  width: 10%; }

.animationFadeInModule .three-tenths {
  width: 30%; }

.animationFadeInModule .seven-tenths {
  width: 70%; }

.animationFadeInModule .nine-tenths {
  width: 90%; }

.animationFadeInModule .one-twelfth {
  width: 8.33333%; }

.animationFadeInModule .five-twelfths {
  width: 41.66667%; }

.animationFadeInModule .seven-twelfths {
  width: 58.33333%; }

.animationFadeInModule .eleven-twelfths {
  width: 91.66667%; }

@media screen and (min-width: 20em) {
  .animationFadeInModule .hand-one-whole {
    width: 100%; }
  .animationFadeInModule .hand-one-half, .animationFadeInModule .hand-two-quarters, .animationFadeInModule .hand-three-sixths, .animationFadeInModule .hand-four-eighths, .animationFadeInModule .hand-five-tenths, .animationFadeInModule .hand-six-twelfths {
    width: 50%; }
  .animationFadeInModule .hand-one-third, .animationFadeInModule .hand-two-sixths, .animationFadeInModule .hand-four-twelfths {
    width: 33.33333%; }
  .animationFadeInModule .hand-two-thirds, .animationFadeInModule .hand-four-sixths, .animationFadeInModule .hand-eight-twelfths {
    width: 66.66667%; }
  .animationFadeInModule .hand-one-quarter, .animationFadeInModule .hand-two-eighths, .animationFadeInModule .hand-three-twelfths {
    width: 25%; }
  .animationFadeInModule .hand-three-quarters, .animationFadeInModule .hand-six-eighths, .animationFadeInModule .hand-nine-twelfths {
    width: 75%; }
  .animationFadeInModule .hand-one-fifth, .animationFadeInModule .hand-two-tenths {
    width: 20%; }
  .animationFadeInModule .hand-two-fifths, .animationFadeInModule .hand-four-tenths {
    width: 40%; }
  .animationFadeInModule .hand-three-fifths, .animationFadeInModule .hand-six-tenths {
    width: 60%; }
  .animationFadeInModule .hand-four-fifths, .animationFadeInModule .hand-eight-tenths {
    width: 80%; }
  .animationFadeInModule .hand-one-sixth, .animationFadeInModule .hand-two-twelfths {
    width: 16.66667%; }
  .animationFadeInModule .hand-five-sixths, .animationFadeInModule .hand-ten-twelfths {
    width: 83.33333%; }
  .animationFadeInModule .hand-one-eighth {
    width: 12.5%; }
  .animationFadeInModule .hand-three-eighths {
    width: 37.5%; }
  .animationFadeInModule .hand-five-eighths {
    width: 62.5%; }
  .animationFadeInModule .hand-seven-eighths {
    width: 87.5%; }
  .animationFadeInModule .hand-one-tenth {
    width: 10%; }
  .animationFadeInModule .hand-three-tenths {
    width: 30%; }
  .animationFadeInModule .hand-seven-tenths {
    width: 70%; }
  .animationFadeInModule .hand-nine-tenths {
    width: 90%; }
  .animationFadeInModule .hand-one-twelfth {
    width: 8.33333%; }
  .animationFadeInModule .hand-five-twelfths {
    width: 41.66667%; }
  .animationFadeInModule .hand-seven-twelfths {
    width: 58.33333%; }
  .animationFadeInModule .hand-eleven-twelfths {
    width: 91.66667%; } }

@media screen and (min-width: 40em) {
  .animationFadeInModule .lap-one-whole {
    width: 100%; }
  .animationFadeInModule .lap-one-half, .animationFadeInModule .lap-two-quarters, .animationFadeInModule .lap-three-sixths, .animationFadeInModule .lap-four-eighths, .animationFadeInModule .lap-five-tenths, .animationFadeInModule .lap-six-twelfths {
    width: 50%; }
  .animationFadeInModule .lap-one-third, .animationFadeInModule .lap-two-sixths, .animationFadeInModule .lap-four-twelfths {
    width: 33.33333%; }
  .animationFadeInModule .lap-two-thirds, .animationFadeInModule .lap-four-sixths, .animationFadeInModule .lap-eight-twelfths {
    width: 66.66667%; }
  .animationFadeInModule .lap-one-quarter, .animationFadeInModule .lap-two-eighths, .animationFadeInModule .lap-three-twelfths {
    width: 25%; }
  .animationFadeInModule .lap-three-quarters, .animationFadeInModule .lap-six-eighths, .animationFadeInModule .lap-nine-twelfths {
    width: 75%; }
  .animationFadeInModule .lap-one-fifth, .animationFadeInModule .lap-two-tenths {
    width: 20%; }
  .animationFadeInModule .lap-two-fifths, .animationFadeInModule .lap-four-tenths {
    width: 40%; }
  .animationFadeInModule .lap-three-fifths, .animationFadeInModule .lap-six-tenths {
    width: 60%; }
  .animationFadeInModule .lap-four-fifths, .animationFadeInModule .lap-eight-tenths {
    width: 80%; }
  .animationFadeInModule .lap-one-sixth, .animationFadeInModule .lap-two-twelfths {
    width: 16.66667%; }
  .animationFadeInModule .lap-five-sixths, .animationFadeInModule .lap-ten-twelfths {
    width: 83.33333%; }
  .animationFadeInModule .lap-one-eighth {
    width: 12.5%; }
  .animationFadeInModule .lap-three-eighths {
    width: 37.5%; }
  .animationFadeInModule .lap-five-eighths {
    width: 62.5%; }
  .animationFadeInModule .lap-seven-eighths {
    width: 87.5%; }
  .animationFadeInModule .lap-one-tenth {
    width: 10%; }
  .animationFadeInModule .lap-three-tenths {
    width: 30%; }
  .animationFadeInModule .lap-seven-tenths {
    width: 70%; }
  .animationFadeInModule .lap-nine-tenths {
    width: 90%; }
  .animationFadeInModule .lap-one-twelfth {
    width: 8.33333%; }
  .animationFadeInModule .lap-five-twelfths {
    width: 41.66667%; }
  .animationFadeInModule .lap-seven-twelfths {
    width: 58.33333%; }
  .animationFadeInModule .lap-eleven-twelfths {
    width: 91.66667%; } }

@media screen and (min-width: 62.5em) {
  .animationFadeInModule .desk-one-whole {
    width: 100%; }
  .animationFadeInModule .desk-one-half, .animationFadeInModule .desk-two-quarters, .animationFadeInModule .desk-three-sixths, .animationFadeInModule .desk-four-eighths, .animationFadeInModule .desk-five-tenths, .animationFadeInModule .desk-six-twelfths {
    width: 50%; }
  .animationFadeInModule .desk-one-third, .animationFadeInModule .desk-two-sixths, .animationFadeInModule .desk-four-twelfths {
    width: 33.33333%; }
  .animationFadeInModule .desk-two-thirds, .animationFadeInModule .desk-four-sixths, .animationFadeInModule .desk-eight-twelfths {
    width: 66.66667%; }
  .animationFadeInModule .desk-one-quarter, .animationFadeInModule .desk-two-eighths, .animationFadeInModule .desk-three-twelfths {
    width: 25%; }
  .animationFadeInModule .desk-three-quarters, .animationFadeInModule .desk-six-eighths, .animationFadeInModule .desk-nine-twelfths {
    width: 75%; }
  .animationFadeInModule .desk-one-fifth, .animationFadeInModule .desk-two-tenths {
    width: 20%; }
  .animationFadeInModule .desk-two-fifths, .animationFadeInModule .desk-four-tenths {
    width: 40%; }
  .animationFadeInModule .desk-three-fifths, .animationFadeInModule .desk-six-tenths {
    width: 60%; }
  .animationFadeInModule .desk-four-fifths, .animationFadeInModule .desk-eight-tenths {
    width: 80%; }
  .animationFadeInModule .desk-one-sixth, .animationFadeInModule .desk-two-twelfths {
    width: 16.66667%; }
  .animationFadeInModule .desk-five-sixths, .animationFadeInModule .desk-ten-twelfths {
    width: 83.33333%; }
  .animationFadeInModule .desk-one-eighth {
    width: 12.5%; }
  .animationFadeInModule .desk-three-eighths {
    width: 37.5%; }
  .animationFadeInModule .desk-five-eighths {
    width: 62.5%; }
  .animationFadeInModule .desk-seven-eighths {
    width: 87.5%; }
  .animationFadeInModule .desk-one-tenth {
    width: 10%; }
  .animationFadeInModule .desk-three-tenths {
    width: 30%; }
  .animationFadeInModule .desk-seven-tenths {
    width: 70%; }
  .animationFadeInModule .desk-nine-tenths {
    width: 90%; }
  .animationFadeInModule .desk-one-twelfth {
    width: 8.33333%; }
  .animationFadeInModule .desk-five-twelfths {
    width: 41.66667%; }
  .animationFadeInModule .desk-seven-twelfths {
    width: 58.33333%; }
  .animationFadeInModule .desk-eleven-twelfths {
    width: 91.66667%; } }

@media screen and (min-width: 75em) {
  .animationFadeInModule .wall-one-whole {
    width: 100%; }
  .animationFadeInModule .wall-one-half, .animationFadeInModule .wall-two-quarters, .animationFadeInModule .wall-three-sixths, .animationFadeInModule .wall-four-eighths, .animationFadeInModule .wall-five-tenths, .animationFadeInModule .wall-six-twelfths {
    width: 50%; }
  .animationFadeInModule .wall-one-third, .animationFadeInModule .wall-two-sixths, .animationFadeInModule .wall-four-twelfths {
    width: 33.33333%; }
  .animationFadeInModule .wall-two-thirds, .animationFadeInModule .wall-four-sixths, .animationFadeInModule .wall-eight-twelfths {
    width: 66.66667%; }
  .animationFadeInModule .wall-one-quarter, .animationFadeInModule .wall-two-eighths, .animationFadeInModule .wall-three-twelfths {
    width: 25%; }
  .animationFadeInModule .wall-three-quarters, .animationFadeInModule .wall-six-eighths, .animationFadeInModule .wall-nine-twelfths {
    width: 75%; }
  .animationFadeInModule .wall-one-fifth, .animationFadeInModule .wall-two-tenths {
    width: 20%; }
  .animationFadeInModule .wall-two-fifths, .animationFadeInModule .wall-four-tenths {
    width: 40%; }
  .animationFadeInModule .wall-three-fifths, .animationFadeInModule .wall-six-tenths {
    width: 60%; }
  .animationFadeInModule .wall-four-fifths, .animationFadeInModule .wall-eight-tenths {
    width: 80%; }
  .animationFadeInModule .wall-one-sixth, .animationFadeInModule .wall-two-twelfths {
    width: 16.66667%; }
  .animationFadeInModule .wall-five-sixths, .animationFadeInModule .wall-ten-twelfths {
    width: 83.33333%; }
  .animationFadeInModule .wall-one-eighth {
    width: 12.5%; }
  .animationFadeInModule .wall-three-eighths {
    width: 37.5%; }
  .animationFadeInModule .wall-five-eighths {
    width: 62.5%; }
  .animationFadeInModule .wall-seven-eighths {
    width: 87.5%; }
  .animationFadeInModule .wall-one-tenth {
    width: 10%; }
  .animationFadeInModule .wall-three-tenths {
    width: 30%; }
  .animationFadeInModule .wall-seven-tenths {
    width: 70%; }
  .animationFadeInModule .wall-nine-tenths {
    width: 90%; }
  .animationFadeInModule .wall-one-twelfth {
    width: 8.33333%; }
  .animationFadeInModule .wall-five-twelfths {
    width: 41.66667%; }
  .animationFadeInModule .wall-seven-twelfths {
    width: 58.33333%; }
  .animationFadeInModule .wall-eleven-twelfths {
    width: 91.66667%; } }

.animationFadeInModule *, .animationFadeInModule *:before, .animationFadeInModule *:after {
  box-sizing: border-box; }

.animationFadeInModule audio,
.animationFadeInModule canvas,
.animationFadeInModule img,
.animationFadeInModule svg,
.animationFadeInModule video {
  vertical-align: middle; }

.animationFadeInModule img {
  max-width: 100%;
  -ms-interpolation-mode: bicubic; }

.animationFadeInModule img[width],
.animationFadeInModule img[height] {
  max-width: none; }

.animationFadeInModule h1, .animationFadeInModule h2, .animationFadeInModule h3, .animationFadeInModule h4, .animationFadeInModule h5, .animationFadeInModule h6, .animationFadeInModule hgroup, .animationFadeInModule hr,
.animationFadeInModule ul, .animationFadeInModule ol, .animationFadeInModule dl,
.animationFadeInModule blockquote, .animationFadeInModule p, .animationFadeInModule address,
.animationFadeInModule table,
.animationFadeInModule fieldset, .animationFadeInModule figure, .animationFadeInModule figcaption,
.animationFadeInModule pre {
  margin-top: 0;
  margin-bottom: 2.8rem; }
  .animationFadeInModule h1 ul, .animationFadeInModule h1 ol, .animationFadeInModule h2 ul, .animationFadeInModule h2 ol, .animationFadeInModule h3 ul, .animationFadeInModule h3 ol, .animationFadeInModule h4 ul, .animationFadeInModule h4 ol, .animationFadeInModule h5 ul, .animationFadeInModule h5 ol, .animationFadeInModule h6 ul, .animationFadeInModule h6 ol, .animationFadeInModule hgroup ul, .animationFadeInModule hgroup ol, .animationFadeInModule hr ul, .animationFadeInModule hr ol,
  .animationFadeInModule ul ul,
  .animationFadeInModule ul ol, .animationFadeInModule ol ul, .animationFadeInModule ol ol, .animationFadeInModule dl ul, .animationFadeInModule dl ol,
  .animationFadeInModule blockquote ul,
  .animationFadeInModule blockquote ol, .animationFadeInModule p ul, .animationFadeInModule p ol, .animationFadeInModule address ul, .animationFadeInModule address ol,
  .animationFadeInModule table ul,
  .animationFadeInModule table ol,
  .animationFadeInModule fieldset ul,
  .animationFadeInModule fieldset ol, .animationFadeInModule figure ul, .animationFadeInModule figure ol, .animationFadeInModule figcaption ul, .animationFadeInModule figcaption ol,
  .animationFadeInModule pre ul,
  .animationFadeInModule pre ol {
    margin-bottom: 0; }

.animationFadeInModule ul, .animationFadeInModule ol, .animationFadeInModule dd {
  margin-left: 2.8rem;
  padding: 0; }

.animationFadeInModule table {
  border-collapse: collapse;
  border-spacing: 0; }

.animationFadeInModule .cf:after {
  display: table;
  content: "";
  clear: both; }

.animationFadeInModule .ir {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent; }

.animationFadeInModule .hidden {
  display: none;
  visibility: hidden; }

.animationFadeInModule .visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.animationFadeInModule .visuallyhidden.focusable:active,
.animationFadeInModule .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

@media screen and (max-width: 19.99em) {
  .animationFadeInModule .hidden-below-hand {
    display: none; } }

@media screen and (min-width: 20em) {
  .animationFadeInModule .hidden-hand-and-up {
    display: none; } }

@media screen and (max-width: 39.99em) {
  .animationFadeInModule .hidden-below-lap {
    display: none; } }

@media screen and (min-width: 40em) {
  .animationFadeInModule .hidden-lap-and-up {
    display: none; } }

@media screen and (max-width: 62.49em) {
  .animationFadeInModule .hidden-below-desk {
    display: none; } }

@media screen and (min-width: 62.5em) {
  .animationFadeInModule .hidden-desk-and-up {
    display: none; } }

@media screen and (max-width: 74.99em) {
  .animationFadeInModule .hidden-below-wall {
    display: none; } }

@media screen and (min-width: 75em) {
  .animationFadeInModule .hidden-wall-and-up {
    display: none; } }

.animationFadeInModule .float-right {
  float: right !important; }

.animationFadeInModule .float-left {
  float: left !important; }

.animationFadeInModule .text-left {
  text-align: left !important; }

.animationFadeInModule .text-center {
  text-align: center !important; }

.animationFadeInModule .text-right {
  text-align: right !important; }

.animationFadeInModule .text-upper {
  text-transform: uppercase !important; }

.animationFadeInModule .text-strong {
  font-weight: bold !important; }

.animationFadeInModule .text-nowrap {
  white-space: nowrap !important; }

.animationFadeInModule .display-table {
  display: table;
  width: 100%; }

.animationFadeInModule .display-row {
  display: table-row; }

.animationFadeInModule .display-cell {
  display: table-cell;
  vertical-align: middle; }

.animationFadeInModule .anchor-plain {
  color: inherit; }
  .animationFadeInModule .anchor-plain:hover, .animationFadeInModule .anchor-plain:focus {
    text-decoration: none; }

html .animationFadeInModule {
  font: 0.625em/2.8 Arial, Helvetica, sans-serif;
  color: #333333;
  background: #ffffff;
  -webkit-tap-highlight-color: transparent; }

.animationFadeInModule a {
  color: #006554;
  text-decoration: none; }
  .animationFadeInModule a:hover, .animationFadeInModule a:focus {
    text-decoration: underline; }

.animationFadeInModule i {
  font-style: normal; }

.animationFadeInModule h1, .animationFadeInModule .h1,
.animationFadeInModule h2, .animationFadeInModule .h2,
.animationFadeInModule h3, .animationFadeInModule .h3,
.animationFadeInModule h4, .animationFadeInModule .h4,
.animationFadeInModule h5, .animationFadeInModule .h5,
.animationFadeInModule h6, .animationFadeInModule .h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal; }

.animationFadeInModule h1, .animationFadeInModule .h1 {
  font-size: 1.875rem;
  line-height: 1; }

.animationFadeInModule h2, .animationFadeInModule .h2 {
  font-size: 1.25rem;
  line-height: 1.2; }

.animationFadeInModule h3, .animationFadeInModule .h3 {
  font-size: 1rem;
  line-height: 1.4; }

.animationFadeInModule h4, .animationFadeInModule .h4 {
  font-size: 0.875rem; }

@media screen and (min-width: 40em) {
  .animationFadeInModule h1, .animationFadeInModule .h1 {
    font-size: 3.6rem; }
  .animationFadeInModule h2, .animationFadeInModule .h2 {
    font-size: 2.4rem; }
  .animationFadeInModule h3, .animationFadeInModule .h3 {
    font-size: 1.5rem; }
  .animationFadeInModule h4, .animationFadeInModule .h4 {
    font-size: 1.2rem; } }

.animationFadeInModule .island,
.animationFadeInModule .islet,
.animationFadeInModule .landmark,
.animationFadeInModule .landmarklet,
.animationFadeInModule .copy {
  display: block; }
  .animationFadeInModule .island:after,
  .animationFadeInModule .islet:after,
  .animationFadeInModule .landmark:after,
  .animationFadeInModule .landmarklet:after,
  .animationFadeInModule .copy:after {
    display: table;
    content: "";
    clear: both; }
  .animationFadeInModule .island > :last-child,
  .animationFadeInModule .islet > :last-child,
  .animationFadeInModule .landmark > :last-child,
  .animationFadeInModule .landmarklet > :last-child,
  .animationFadeInModule .copy > :last-child {
    margin-bottom: 0; }

.animationFadeInModule .island {
  padding-top: 2.8rem;
  padding-bottom: 2.8rem; }

.animationFadeInModule .islet {
  padding-top: 1.4rem;
  padding-bottom: 1.4rem; }

.animationFadeInModule .landmark {
  margin-bottom: 5.6rem; }

.animationFadeInModule .landmarklet {
  margin-bottom: 2.8rem; }

.animationFadeInModule .site-wrapper {
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2.8rem;
  padding-right: 2.8rem; }

html {
  /** end body */ }
  html body {
    /** end .animationFadeInModule */ }
    html body .animationFadeInModule {
      /** end .site-wrapper */ }
      html body .animationFadeInModule .grid-wrapper {
        margin: 4em auto; }
      html body .animationFadeInModule .site-wrapper {
        /** Items below needed for the animationFadeInModule */ }
        html body .animationFadeInModule .site-wrapper img {
          max-width: 100%; }
        html body .animationFadeInModule .site-wrapper .animate {
          filter: opacity(0);
          -webkit-filter: opacity(0);
          -moz-filter: opacity(0);
          -ms-filter: opacity(0);
          -o-filter: opacity(0);
          transition: -webkit-filter 1s ease-in;
          transition: filter 1s ease-in;
          transition: filter 1s ease-in, -webkit-filter 1s ease-in; }
          html body .animationFadeInModule .site-wrapper .animate.in-view {
            filter: opacity(1);
            -webkit-filter: opacity(1);
            -moz-filter: opacity(1);
            -ms-filter: opacity(1);
            -o-filter: opacity(1); }

/** end html */
